*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: black;
}

body {
      background-color: whitesmoke;
    }
	

#TituloP {

    background-image: url('TT.jpg');
	display:table;
	width: 100%;
	height: 300px;
	margin: 0%;
	

}

#TituloP1{
	color:white ;
    text-align:center;
	display: table-cell;
	vertical-align: middle;
	font-family: bungee Spice, 'Arial Narrow Bold', 'sans-serif';
	font-size: 2vh;
}

[class*="ELEMENTO"]{
	width:80%;
	text-align:center;
	margin:auto;
	margin-bottom: 20px;
	margin-top: 20px;
}
.ELEMENTO1{
	border: solid #91260b 2px;
	background-color: #91260b8c;
}
.ELEMENTO2{
	border:solid #0768b8 2px;
	background-color: #0768b88a;
}

.ELEMENTO3{
	border:solid #b97612 2px;
	background-color: #b976127a;
}

.ELEMENTO4{
	border:solid #4a0650 2px;
	background-color: #4a06507a;
}

.ELEMENTO5{
	border:solid #0db640 2px;
	background-color: #0db64085;
}

.ELEMENTO6{
	border:solid #519c0b 2px;
	background-color: #519c0b7c;
}

.ELEMENTO7{
	border:solid #09dfee 2px;
	background-color: #09dfee7c;
}

.TITULO2,h3{
	opacity: 1;
}
#Reacciones{
	color: rgb(163, 159, 159);
	border: solid 2px #8b752c;
	background-color: black;
	margin: 5vh;
}

.Titulo2{
	color: rgb(41, 37, 37);
	text-align:center;
	font-family: Bangers, 'Arial Narrow Bold', sans-serif;
	font-size:4vh;
	margin: 2vh;
}

p{
	font-size: 2vh 2vw;
	text-align: justify;
	margin: 2vh 3vw;
}

#x{
	opacity: 0.25;
	z-index: 999;
	position: fixed;
	top: 0;
	border: 3px solid black;
	margin: 1vh;
}

nav, nav ul,nav button{
    border-radius: 20px;
	background-color: black;
}
nav button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.navigator{
	display: none;
    overflow: hidden;
	max-height: 0;
    transition: max-height 0.2s ease-out;
}

nav ul{
	list-style-type:none;
    overflow: hidden;
}

nav ul li{
	display: block;
}


nav img{
	width: 70px;
	height: 70px;
}



#AUDIO{
	text-align :center;


}

Table,th, td {
	border:solid 3px;
	border-color:#8b752c;
	color:white;
}

td{
	padding: 1vh 1vw;
}

iframe {
	width:90vw;
	height: 30vh;
	margin: 2vh 2vw;
	border-radius: 30px;
	border: solid black 2px;
}

.Img{
	width:80%;
	margin: 0;
}


