*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: black;
}

body {
	background-image: url(../resources/fondo.webp);
    }
	

#TituloP {
    background-image: url('../resources/TT.jpg');
	display:table;
	width: 100%;
	height: 300px;
	margin-bottom: 2vh;
}

#TituloP1{
	color:white ;
    text-align:center;
	display: table-cell;
	vertical-align: middle;
	font-family: bungee Spice, 'Arial Narrow Bold', 'sans-serif';
	font-size: 2vh;
}

[class*="ELEMENTO"]{
	width:80%;
	text-align:center;
	margin:auto;
	margin-bottom: 20px;
	margin-top: 20px;
}
.ELEMENTO1{
	border: solid #91260b 2px;
	background-color: #91260b8c;
}
.ELEMENTO2{
	border:solid #0768b8 2px;
	background-color: #0768b88a;
}

.ELEMENTO3{
	border:solid #b97612 2px;
	background-color: #b976127a;
}

.ELEMENTO4{
	border:solid #4a0650 2px;
	background-color: #4a06507a;
}

.ELEMENTO5{
	border:solid #0db640 2px;
	background-color: #0db64085;
}

.ELEMENTO6{
	border:solid #519c0b 2px;
	background-color: #519c0b7c;
}

.ELEMENTO7{
	border:solid #09dfee 2px;
	background-color: #09dfee7c;
}

.TITULO2,h3{
	opacity: 1;
}
#Reacciones{
	color: rgb(163, 159, 159);
	border: solid 2px #8b752c;
	background-color: black;
	margin: 5vh 0vw;
	min-width: 340px;
}

.Titulo2{
	color: rgb(41, 37, 37);
	text-align:center;
	font-family: Bangers, 'Arial Narrow Bold', sans-serif;
	font-size:4vh;
	margin: 2vh;
}

#Reacciones .Titulo2{
	color: rgb(143, 132, 132);
}
#Reacciones img{
	height: 50px;
	width: 50px;
}

p{
	font-size: 2vh;
	text-align: justify;
	margin: 2vh 3vw;
}



#x{
	opacity: 0.25;
	z-index: 999;
	position: fixed;
	top: 0;
	border: 3px solid black;
	margin: 1vh;
}

nav ul li{
	display: block;
}

nav button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

nav img{
	height: 10vh;
}



#AUDIO{
	text-align :center;


}

Table,th, td {
	border:solid 3px;
	border-color:#8b752c;
	color:white;
}

td{
	padding: 1vh 1vw;
}

iframe {
	width:80%;
	height: 40vh;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 30px;
	border: solid black 2px;
}

.Img{
	width:80%;
	margin: 0;
}



@media only screen and (max-width:1080px){
	nav, nav ul,nav button{
		border-radius: 20px;
		background-color: black;
	}
	
	nav button{
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
	}
	
	.navigator{
		display: none;
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.2s ease-out;
	}
	
	nav ul{
		list-style-type:none;
		overflow: hidden;
	}

}

@media only screen and (min-width:1080px){
	.navigator{
		display: block;
	}

	nav,nav ul,nav button{
		border-radius: 20px;
		background-color: black;
	}

	nav ul{
		display: block;
	}

	#x:hover{
		opacity: 1;
	}

	#TituloP1{
		color:white ;
		text-align:center;
		display: table-cell;
		vertical-align: middle;
		font-family: bungee Spice, 'Arial Narrow Bold', 'sans-serif';
		font-size: 4vh;
	}
	.celda{
		display: flex;
		flex-wrap: wrap;
	}
	.celda img,.celda p{
		width: 40%;
	}
	.celda p{
		align-self: center;
	}
	.celda img{
		margin: 4vh 2vw;
	}
	.Titulo2{
		width: 100%;
	}

	iframe {
		width:90vw;
		height: 80vh;
		margin-left: 5%;
		margin-right: 5%;
	}
}

